@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@font-face {
  font-family: "Days One";
  src: url("../fonts/DaysOne-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
:root {
  --text-black: #150704;
  --text-strong-red: #D4492A;
  --text-dark-grey: #8A8381;
  --text-error: #F84147;
  --text-dark-grayish: #8A8381;
  --text-grayish: #A19C9B;
  --text-white: #fff;
  --button-bright-orange: #ED9139;
  --button-strong-red: #D4492A;
  --button-white: #FFFFFF;
  --button-green: #42D42A;
  --line-strong-red: #D4492A;
  --line-gray: #D9D7D7;
  --line-purple: #5E31BD;
  --line-grayish-red: #FBEDEA;
  --line-bright-orange: #ED9139;
  --bg-strong-red: #D4492A;
  --bg-purple: #5E31BD;
  --bg-gray: #D9D7D7;
  --bg-bright-gray: #F5F5F5;
  --bg-bright-orange: #ED9139;
  --bg-white: #fff;
  --bg-black: #150704;
  --montserrat: "Montserrat", sans-serif;
  --daysOne: "Days One", sans-serif;
  --header-height: 90px;
  --aside-width: 282px;
  --icon-black: #150704;
  --error: #F84147;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--montserrat);
}

button, input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}

body {
  background-color: #FFF7F3;
}

.content {
  padding-top: calc(var(--header-height) + 30px);
  padding-left: var(--aside-width);
  padding-right: 30px;
  overflow-y: auto;
  height: 100dvh;
  padding-bottom: 40px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-bright-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-gray);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-gray);
}

@media (max-width: 1080px) {
  .content {
    padding-left: 30px;
  }
}
@media (max-width: 720px) {
  .content {
    padding-top: calc(var(--header-height));
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
    padding-bottom: 0;
  }
  .content:has(.main__empty) {
    padding-top: calc(var(--header-height) + 16px);
  }
}
.btn-provider {
  font-family: var(--daysOne);
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--line-strong-red);
  font-size: 16px;
  cursor: pointer;
  line-height: 100%;
}
.btn-provider > image {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1440px) {
  .btn-provider {
    font-size: 14px;
  }
}
.auth {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 85px 0;
  min-height: 100vh;
  background-color: var(--bg-white);
}
.auth__content {
  display: grid;
  gap: 60px;
  max-width: 600px;
  width: 100%;
  top: 0;
}
.auth__container {
  display: grid;
  padding: 40px;
  border-radius: 30px;
  gap: 30px;
  width: 100%;
  justify-content: stretch;
  border: 3px solid var(--line-strong-red);
}
.auth__title {
  text-align: center;
  font-family: var(--daysOne);
  font-size: 35px;
  font-style: normal;
  line-height: 130%;
  color: var(--text-black);
}
.auth__providers {
  display: flex;
  gap: 12px;
  justify-content: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
.auth__inputs {
  display: grid;
  justify-content: stretch;
  gap: 15px;
  width: 100%;
}
.auth__group {
  display: grid;
  gap: 20px;
  width: 100%;
}
.auth__form {
  display: grid;
  gap: 20px;
}
.auth__form .link {
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
}
.auth__checkbox {
  padding: 13px 0;
  display: flex;
  align-items: center;
}
.auth p {
  font-size: 18px;
  font-family: var(--montserrat);
  line-height: 150%;
  text-align: center;
}

@media (max-width: 1440px) {
  .auth p {
    font-size: 14px;
  }
}
@media (max-width: 1080px) {
  .auth__container {
    padding: 40px 30px;
  }
}
@media (max-width: 720px) {
  .auth {
    padding: 10px;
  }
  .auth__content {
    gap: 28px;
  }
  .auth__container {
    padding: 40px 20px;
  }
}
@media (max-width: 560px) {
  .auth__title {
    font-size: 20px;
  }
  .auth__providers {
    flex-direction: column;
  }
}
.logo-big {
  width: 127px;
  display: flex;
  justify-self: center;
}
.logo-big > img {
  width: 100%;
}

.btn, .btn-secondary {
  display: flex;
  padding: 10px 20px;
  height: 50px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--line-strong-red);
  border-radius: 4px;
  color: var(--button-white);
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.1s linear;
  font-family: var(--montserrat);
  gap: 10px;
  border: 1px solid transparent;
}
.btn svg, .btn-secondary svg {
  height: 18px;
  fill: var(--button-white);
}
.btn:hover, .btn-secondary:hover {
  background-color: #AC391F;
}
.btn:focus, .btn-secondary:focus {
  background-color: #AC391F;
  border: 1px solid var(--button-bright-orange);
}
.btn:disabled, .btn-secondary:disabled {
  background-color: var(--bg-gray);
  cursor: initial;
}
.btn_min-width {
  width: -moz-max-content;
  width: max-content;
}

.btn-secondary {
  background-color: var(--line-grayish-red);
  color: var(--text-strong-red);
}
.btn-secondary svg {
  fill: var(--text-strong-red);
}
.btn-secondary:hover {
  color: var(--button-white);
}
.btn-secondary:hover svg {
  fill: var(--button-white);
}
.btn-secondary_transparent {
  background-color: transparent;
}

@media (max-width: 1440px) {
  .btn, .btn-secondary {
    font-size: 14px;
  }
}
.input-wrapper {
  display: grid;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  width: 100%;
}
.input-wrapper > div {
  display: flex;
  gap: 4px;
}
.input-wrapper__header {
  display: flex;
  gap: 8px;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.input-wrapper__header > span, .input-wrapper__header > label {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  line-height: 150%;
  width: -moz-max-content;
  width: max-content;
}
.input-wrapper__header > span > span, .input-wrapper__header > label > span {
  color: var(--text-strong-red);
}
.input-wrapper:not(:has(.input-wrapper__header)) > span, .input-wrapper:not(:has(.input-wrapper__header)) > label {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  line-height: 150%;
  max-width: -moz-max-content;
  max-width: max-content;
}
.input-wrapper:not(:has(.input-wrapper__header)) > span > span, .input-wrapper:not(:has(.input-wrapper__header)) > label > span {
  color: var(--text-strong-red);
}
.input-wrapper > .input-wrapper__error {
  display: inline-block;
  color: var(--text-error);
  font-size: 14px;
  text-align: left;
}

@media (max-width: 1440px) {
  .input-wrapper > span, .input-wrapper > label {
    font-size: 16px;
  }
  .input-wrapper__header > span, .input-wrapper__header > label {
    font-size: 16px;
  }
  .input-wrapper:not(:has(.input-wrapper__header)) > span, .input-wrapper:not(:has(.input-wrapper__header)) > label {
    font-size: 16px;
  }
}
.text-input {
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--montserrat);
  outline: transparent;
  padding: 14.5px 20px;
  width: 100%;
  border: 1px solid transparent;
  background-color: var(--bg-white);
}
.text-input_grey {
  background-color: var(--bg-bright-gray);
}
.text-input::-moz-placeholder {
  color: var(--text-dark-grey);
}
.text-input::placeholder {
  color: var(--text-dark-grey);
}
.text-input:focus {
  border: 1px solid var(--bg-bright-orange);
}

@media (max-width: 1440px) {
  .text-input {
    font-size: 14px;
  }
}
.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
}
.checkbox input {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  padding: 0;
  margin: 0;
  top: -100%;
}
.checkbox span {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 1.5px;
  border: 1.5px solid var(--line-gray);
  transition: border-color 0.15s linear;
  position: relative;
}
.checkbox span::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 1px;
  transform-origin: left top;
  background-color: var(--bg-purple);
  transform: translate3d(-50%, -50%, 0);
  scale: 0;
}
.checkbox span::after {
  display: block;
  content: "";
  width: 12px;
  height: 8.7px;
  background-image: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.77486 4.575L7.01236 0.3375C7.11236 0.2375 7.23111 0.1875 7.36861 0.1875C7.50611 0.1875 7.62486 0.2375 7.72486 0.3375C7.82486 0.4375 7.87486 0.55625 7.87486 0.69375C7.87486 0.83125 7.82486 0.95 7.72486 1.05L3.12486 5.65C3.02486 5.75 2.90819 5.8 2.77486 5.8C2.64153 5.8 2.52486 5.75 2.42486 5.65L0.274859 3.5C0.174859 3.4 0.126943 3.28125 0.131109 3.14375C0.135276 3.00625 0.187359 2.8875 0.287359 2.7875C0.387359 2.6875 0.506109 2.6375 0.643609 2.6375C0.781109 2.6375 0.899859 2.6875 0.999859 2.7875L2.77486 4.575Z" fill="white"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.checkbox input:checked + span {
  border-color: var(--line-purple);
  background-color: var(--bg-purple);
}
.checkbox input:checked + span::after {
  opacity: 1;
}

@media (max-width: 1440px) {
  .checkbox {
    font-size: 14px;
  }
  .checkbox span {
    width: 13.5px;
    height: 13.5px;
  }
  .checkbox span::before {
    width: 6px;
    height: 6px;
  }
  .checkbox span::after {
    width: 8px;
    height: 5.8px;
  }
}
.link {
  display: inline-block;
  color: var(--button-bright-orange);
  text-decoration: none;
  position: relative;
  font-size: 18px;
}
.link::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: var(--button-bright-orange);
}

@media (max-width: 1440px) {
  .link {
    font-size: 14px;
  }
}
.header {
  display: grid;
  grid-template-columns: calc(var(--aside-width) - 30px) 1fr;
  height: var(--header-height);
  padding: 0 30px;
  font-family: var(--montserrat);
  position: fixed;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 10;
}
.header__desktop {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__mobile {
  position: fixed;
  right: calc(min(375px, 100vw) * -1);
  top: 0;
  height: 100vh;
  background-color: var(--bg-white);
  width: min(375px, 100vw);
  transition: right 0.2s linear;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}
.header__group {
  display: flex;
  align-items: center;
  gap: 64px;
  height: 100%;
}
.header__controls {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: var(--text-black);
}
.header__profile::after {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: var(--bg-bright-gray);
  left: -32px;
  top: 0;
}
.header__profile-content {
  display: flex;
  flex-direction: column;
}
.header__profile-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.header__profile-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.header > .btn-burger {
  display: none;
}

.mobile-menu {
  display: none;
  grid-template-rows: auto 1fr auto;
  padding-top: 16px;
  box-shadow: -2px 0 8px rgba(51, 51, 51, 0.1254901961);
}
.mobile-menu__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 0 20px 20px;
  border-bottom: 1px solid var(--bg-gray);
  justify-content: flex-start;
}
.mobile-menu__header > .btn-burger {
  position: absolute;
  right: 20px;
  top: 0;
}
.mobile-menu__profile .header__profile::after {
  display: none;
}
.mobile-menu__controls {
  display: flex;
  gap: 16px;
}
.mobile-menu__nav {
  overflow-y: auto;
  padding: 16px 20px;
}
.mobile-menu__footer {
  display: grid;
  border-top: 1px solid var(--bg-gray);
  border-radius: 8px 8px 0 0;
  padding: 20px;
  gap: 16px;
}

@media (max-width: 1280px) {
  .header__profile-content {
    display: none;
  }
}
@media (max-width: 1080px) {
  :root {
    --header-height: 82px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  .header__profile-content {
    display: flex;
  }
  .header > .btn-burger {
    display: flex;
  }
  .header__desktop {
    display: none;
  }
  .header__mobile {
    display: grid;
  }
  body.open-mobile .header__mobile {
    right: 0;
  }
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-bright-gray);
  cursor: pointer;
  transition: background 0.15s linear;
}
.icon-btn svg {
  height: 18px;
  width: auto;
  fill: var(--icon-black);
}
.icon-btn_with-number {
  position: relative;
}
.icon-btn_with-number span {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  background-color: var(--bg-purple);
  color: var(--button-white);
  border-radius: 50%;
}
.icon-btn:hover {
  background-color: var(--bg-gray);
}
.icon-btn_purple {
  background-color: var(--bg-purple);
}
.icon-btn_purple svg {
  fill: none;
}
.icon-btn_purple:hover {
  background-color: #4a2795;
}

.tip-btn {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0;
  color: transparent;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.125C11.0886 1.125 13.0916 1.95469 14.5685 3.43153C16.0453 4.90838 16.875 6.91142 16.875 9C16.875 11.0886 16.0453 13.0916 14.5685 14.5685C13.0916 16.0453 11.0886 16.875 9 16.875C6.91142 16.875 4.90838 16.0453 3.43153 14.5685C1.95469 13.0916 1.125 11.0886 1.125 9C1.125 6.91142 1.95469 4.90838 3.43153 3.43153C4.90838 1.95469 6.91142 1.125 9 1.125ZM9.41738 4.491C8.50163 4.491 7.78387 4.75087 7.25175 5.27063C6.70725 5.79037 6.44737 6.50812 6.44737 7.42387H7.85813C7.85813 6.90412 7.95713 6.49575 8.1675 6.21112C8.40263 5.86462 8.78625 5.70375 9.33075 5.70375C9.7515 5.70375 10.0856 5.81512 10.3207 6.05025C10.5435 6.28537 10.6673 6.60713 10.6673 7.0155C10.6673 7.32487 10.5559 7.62188 10.3331 7.89412L10.1846 8.06738C9.38025 8.78512 8.89762 9.30487 8.73675 9.639C8.5635 9.97312 8.48925 10.3815 8.48925 10.8517V11.025H9.91237V10.8517C9.91237 10.5547 9.97425 10.2949 10.098 10.0474C10.2094 9.82463 10.3703 9.61425 10.593 9.42862C11.187 8.90887 11.5459 8.57475 11.6573 8.451C11.9543 8.055 12.1151 7.54763 12.1151 6.92887C12.1151 6.174 11.8676 5.58 11.3726 5.14687C10.8776 4.70137 10.2218 4.491 9.41738 4.491ZM9.19463 11.6314C8.9423 11.6245 8.69756 11.718 8.514 11.8912C8.42338 11.9766 8.35216 12.0805 8.30519 12.1958C8.25822 12.3111 8.23658 12.4351 8.24175 12.5595C8.24175 12.8317 8.32837 13.0545 8.514 13.2278C8.69618 13.4046 8.94075 13.5024 9.19463 13.5C9.46688 13.5 9.68962 13.4134 9.87525 13.2401C9.9678 13.153 10.041 13.0474 10.09 12.9301C10.139 12.8128 10.1629 12.6866 10.1599 12.5595C10.1622 12.4355 10.1393 12.3122 10.0925 12.1974C10.0457 12.0825 9.976 11.9783 9.88762 11.8912C9.69929 11.7177 9.45066 11.6244 9.19463 11.6314Z" fill="%23ED9139" /></svg>');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.tip-btn svg {
  height: 18px;
}

.support-btn {
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 9;
}

@media (max-width: 720px) {
  .support-btn {
    right: 16px;
    bottom: 106px;
  }
  body:has(.main__empty) .support-btn {
    bottom: 16px;
  }
}
.aside {
  width: var(--aside-width);
  height: calc(100dvh - var(--header-height) - 30px);
  display: flex;
  padding: 0 30px 40px;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-dark-grayish);
  font-family: var(--montserrat);
  position: fixed;
  top: calc(var(--header-height) + 30px);
  overflow-y: auto;
  gap: 16px;
}
.aside-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.aside-nav__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.aside-nav__group-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.aside-nav__group ul {
  display: grid;
  gap: 0;
  width: 100%;
  list-style: none;
}
.aside-nav__item {
  display: inline-block;
  height: -moz-min-content;
  height: min-content;
}
.aside-nav__item-subnav > label, .aside-nav__item a {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  text-decoration: none;
  color: var(--text-black);
  padding: 10px;
  border-radius: 4px;
  transition: background 0.15s linear;
}
.aside-nav__item-subnav > label svg, .aside-nav__item a svg {
  height: 18px;
  width: auto;
  fill: var(--icon-black);
}
.aside-nav__item-subnav > label:hover, .aside-nav__item a:hover {
  background-color: #FFF1E9;
}
.aside-nav__item-subnav {
  overflow: hidden;
}
.aside-nav__item-subnav label {
  position: relative;
  cursor: pointer;
}
.aside-nav__item-subnav label::after {
  display: block;
  content: "";
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.0001 11.3063C8.9251 11.3063 8.85635 11.2938 8.79385 11.2688C8.73135 11.2438 8.66885 11.2 8.60635 11.1375L4.89385 7.425C4.78135 7.3125 4.7251 7.18125 4.7251 7.03125C4.7251 6.88125 4.78135 6.75 4.89385 6.6375C5.00635 6.525 5.14072 6.46875 5.29697 6.46875C5.45322 6.46875 5.5876 6.525 5.7001 6.6375L9.0001 9.9375L12.3001 6.6375C12.4126 6.525 12.5438 6.46875 12.6938 6.46875C12.8438 6.46875 12.9751 6.525 13.0876 6.6375C13.2001 6.75 13.2563 6.88438 13.2563 7.04063C13.2563 7.19688 13.2001 7.33125 13.0876 7.44375L9.39385 11.1375C9.33135 11.2 9.26885 11.2438 9.20635 11.2688C9.14385 11.2938 9.0751 11.3063 9.0001 11.3063Z" fill="%238A8381"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform-origin: top;
  transform: translateY(-50%);
  transition: rotate 0.15s linear;
}
.aside-nav__item-subnav input {
  position: absolute;
  width: 0;
  height: 0;
  left: -100%;
  opacity: 0;
}
.aside-nav__item-subnav ul {
  max-height: 0;
}
.aside-nav__item-subnav input:checked + label::after {
  rotate: 180deg;
}
.aside-nav__item-subnav input:checked + label + ul {
  max-height: 150px;
}
.aside-nav__item_active a {
  cursor: initial;
  background-color: var(--button-strong-red);
  color: var(--button-white);
}
.aside-nav__item_active a svg {
  fill: var(--button-white);
}
.aside-nav__item_active:hover a {
  background-color: var(--button-strong-red);
  color: var(--button-white);
}
.aside-nav__item_active:hover a svg {
  fill: var(--button-white);
}
.aside-nav__item.disabled label, .aside-nav__item.disabled a {
  cursor: default;
  color: var(--text-dark-grayish);
}
.aside-nav__item.disabled label svg, .aside-nav__item.disabled a svg {
  fill: var(--text-dark-grayish);
}
.aside-nav__item.disabled label:hover, .aside-nav__item.disabled a:hover {
  background-color: transparent;
}
.aside-nav__item-subnav.disabled input:checked + label::after {
  rotate: initial;
}
.aside-nav__item-subnav.disabled input:checked + label + ul {
  max-height: 0;
}
.aside-nav__item_no-svg a {
  padding-left: 36px;
}

@media (max-width: 1080px) {
  .aside {
    display: none;
  }
}
.main {
  border-radius: 30px;
  background-color: var(--bg-white);
  min-height: calc(100dvh - var(--header-height) - 70px);
  padding: 30px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  color: var(--text-black);
}
.main__wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}
.main__frame {
  background-color: var(--bg-bright-gray);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  gap: 32px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.main__table {
  border-radius: 4px;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}
.main__list {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  border-radius: 4px;
  align-items: flex-start;
}
.main__list-title {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-black);
  font-family: var(--montserrat);
}
.main__list-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__list-items:empty {
  padding-top: 16px;
}
.main__list-item {
  display: flex;
  justify-content: space-between;
  font-family: var(--montserrat);
  color: var(--text-black);
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid var(--bg-bright-gray);
  gap: 16px;
}
.main__list-item:last-child {
  border-bottom: none;
}
.main__list-item-content {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.main__list-item-text {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  width: 100%;
}
.main__list-item-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.main__list-item-dates {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-grayish);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.main__list-item-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main__list-item-times {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 48px;
}
.main__list-item-times::after {
  display: block;
  content: "-";
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
  color: var(--text-black);
}
.main__header {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__header-controls {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  gap: 16px;
}
.main__header-controls > * {
  width: 180px;
}
.main__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.main__group {
  display: grid;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
}
.main__group-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-dark-grayish);
}
.main__group-content {
  display: grid;
  gap: 24px;
}
.main__group-content_two-columns {
  grid-template-columns: 1fr 1fr;
}
.main__mobile-controls {
  border-radius: 8px;
  border-top: 1px solid var(--bg-gray);
  background-color: var(--bg-white);
  padding: 20px 16px;
  display: none;
  justify-content: flex-end;
  gap: 8px;
}
.main__mobile-controls > * {
  min-width: 167.5px;
}
.main:has(.main__empty) {
  align-items: stretch;
}
.main__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
}
.main__empty-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 16px;
  color: var(--text-black);
}
.main__empty-subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-dark-grayish);
  margin-bottom: 32px;
}
.main__empty-controls {
  display: flex;
  gap: 32px;
}
.main__empty-controls .btn, .main__empty-controls .btn-secondary {
  min-width: 180px;
}
.main__column {
  max-width: 222px;
  width: 100%;
  overflow: auto;
}
.main__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__menu-btn {
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: var(--text-black);
  border-radius: 4px;
}
.main__menu-btn_active {
  color: var(--button-strong-red);
  border: 1px solid var(--button-strong-red);
}
.main:has(.main__column) .main__wrapper {
  gap: 30px;
}

@media (max-width: 1280px) {
  .main__list-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 1080px) {
  .main__list-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main__wrapper {
    height: 100%;
    overflow-y: auto;
  }
  .main__column {
    max-width: 100%;
  }
  .main:has(.main__empty) .main__wrapper {
    height: auto;
  }
  .main:has(.main__column):has(.main__menu) .main__wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: initial;
  }
  .main:has(.main__column):has(.main__menu) .main__menu {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    align-items: center;
    overflow-x: auto;
    justify-content: space-between;
  }
  .main:has(.main__column):has(.main__menu) .main__menu-btn {
    white-space: nowrap;
  }
  .main:has(.main__column):has(.main__menu) .main__menu::-webkit-scrollbar {
    height: 0px;
  }
}
@media (max-width: 720px) {
  .main {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0;
    background-color: transparent;
    flex-direction: column;
    min-height: auto;
    height: calc(100dvh - var(--header-height));
    overflow-y: auto;
    border-radius: 0;
    gap: 0;
    border-radius: 10px;
  }
  .main__wrapper {
    padding: 16px;
    border-radius: 10px;
    flex-direction: column;
  }
  .main__mobile-controls {
    display: flex;
  }
  .main__header-controls {
    display: none;
  }
  .main__frame {
    padding: 30px 20px;
    height: -moz-max-content;
    height: max-content;
    display: grid;
    grid-auto-rows: max-content;
  }
  .main__empty-controls {
    flex-direction: column;
    gap: 8px;
  }
  .main:has(.main__empty) .main {
    height: calc(100dvh - var(--header-height) - 16px);
  }
  .main:has(.main__empty) .main__wrapper {
    background-color: var(--bg-white);
    width: calc(100% - 32px);
    margin: 0 16px 16px;
  }
  .main:has(.main__empty) .main__mobile-controls {
    display: none;
  }
}
@media (max-width: 560px) {
  .main__list-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .main__mobile-controls > * {
    width: 100%;
    min-width: auto;
  }
  .main__group-content_two-columns {
    grid-template-columns: 1fr;
  }
  .main__empty-controls {
    width: 100%;
  }
  .main:has(.main__column):has(.main__menu) .main__wrapper {
    gap: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    height: 100%;
  }
  .main:has(.main__column):has(.main__menu) .main__column {
    position: relative;
  }
  .main:has(.main__column):has(.main__menu) .main__frame {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 16px;
  }
  .main:has(.main__column):has(.main__menu) .main__menu {
    overflow-x: auto;
    z-index: 6;
    padding-bottom: 16px;
  }
  .main:has(.main__column):has(.main__menu) .main__menu-btn {
    z-index: 6;
  }
}
.custom-select {
  height: 50px;
  position: relative;
  font-family: var(--montserrat);
}
.custom-select__btn {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  border-radius: 4px;
  background-color: var(--button-white);
  position: relative;
  border: 1px solid transparent;
}
.custom-select__value {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--montserrat);
}
.custom-select__value img {
  width: 18px;
  height: 18px;
}
.custom-select__arrow {
  display: block;
  width: 18px;
  height: 18px;
  transform: rotateZ(180deg);
  transition: rotate 0.15s linear;
  rotate: 0deg;
}
.custom-select__options {
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  display: grid;
  background-color: var(--bg-white);
  max-height: 0;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid var(--bg-gray-2, #F5F5F5);
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.03);
}
.custom-select.open .custom-select__arrow {
  rotate: 180deg;
}
.custom-select.open .custom-select__options {
  max-height: 270px;
}
.custom-select.open .custom-select__btn {
  border: 1px solid var(--button-bright-orange);
}
.custom-select__option {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-items: center;
  padding: 8px 20px;
}
.custom-select__option img {
  width: 18px;
  height: 18px;
}
.custom-select__option:hover {
  background-color: #FAFAFA;
}
.custom-select_number {
  width: 113px;
  min-width: 113px;
}
.custom-select_number .custom-select__btn img {
  width: 32px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.select-hierarchy {
  height: 50px;
  position: relative;
  font-family: var(--montserrat);
}
.select-hierarchy__btn {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  border-radius: 4px;
  background-color: var(--button-white);
  position: relative;
  border: 1px solid transparent;
}
.select-hierarchy__value {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--montserrat);
}
.select-hierarchy__value img {
  width: 18px;
  height: 18px;
}
.select-hierarchy__arrow {
  display: block;
  width: 18px;
  height: 18px;
  transition: rotate 0.15s linear;
  rotate: 0deg;
}
.select-hierarchy__options {
  position: absolute;
  width: 100%;
  display: grid;
  background-color: var(--bg-white);
  max-height: 0;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid var(--bg-gray-2, #F5F5F5);
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.03);
  height: -moz-max-content;
  height: max-content;
  bottom: calc(100% + 2px);
}
.select-hierarchy.open .select-hierarchy__arrow {
  rotate: 180deg;
}
.select-hierarchy.open .select-hierarchy__options {
  max-height: 270px;
}
.select-hierarchy.open .select-hierarchy__btn {
  border: 1px solid var(--button-bright-orange);
}
.select-hierarchy__option {
  padding: 8px 20px;
  display: grid;
}
.select-hierarchy__option-arrow {
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.0002 10.05C7.93353 10.05 7.87242 10.0389 7.81686 10.0167C7.76131 9.99444 7.70575 9.95556 7.6502 9.9L4.3502 6.6C4.2502 6.5 4.2002 6.38333 4.2002 6.25C4.2002 6.11667 4.2502 6 4.3502 5.9C4.4502 5.8 4.56964 5.75 4.70853 5.75C4.84742 5.75 4.96686 5.8 5.06686 5.9L8.0002 8.83333L10.9335 5.9C11.0335 5.8 11.1502 5.75 11.2835 5.75C11.4169 5.75 11.5335 5.8 11.6335 5.9C11.7335 6 11.7835 6.11944 11.7835 6.25833C11.7835 6.39722 11.7335 6.51667 11.6335 6.61667L8.35019 9.9C8.29464 9.95556 8.23908 9.99444 8.18353 10.0167C8.12797 10.0389 8.06686 10.05 8.0002 10.05Z" fill="%23150704"/></svg>');
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: rotate 0.15s linear;
}
.select-hierarchy__option-content {
  display: flex;
  align-items: center;
  gap: 16px;
}
.select-hierarchy__option-content > .round-radio-button {
  color: var(--button-strong-red, #D4492A);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}
.select-hierarchy__option > .round-radio-button {
  display: flex;
  color: var(--button-strong-red, #D4492A);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}
.select-hierarchy__option_with-list {
  height: -moz-max-content;
  height: max-content;
  gap: 8px;
}
.select-hierarchy__option_with-list > ul {
  height: -moz-max-content;
  height: max-content;
  max-height: 0;
  overflow: hidden;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
.select-hierarchy__option_with-list.open > ul {
  max-height: -moz-max-content;
  max-height: max-content;
}
.select-hierarchy__option_with-list.open > .select-hierarchy__option-content .select-hierarchy__option-arrow {
  rotate: 180deg;
}

@media (max-width: 1080px) {
  .select-hierarchy__option_with-list > ul {
    padding-left: 30px;
  }
}
@media (max-width: 720px) {
  .select-hierarchy__option_with-list > ul {
    padding-left: 20px;
  }
}
.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-radius: 4px;
  background-color: var(--bg-white);
  width: 100%;
}
.switch__text {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
}
.switch_gray {
  background-color: var(--bg-bright-gray);
}

.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  user-select: none;
}
.radio-button input {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  padding: 0;
  margin: 0;
  top: -100%;
}
.radio-button span {
  display: inline-block;
  background-color: var(--bg-gray);
  width: 24px;
  height: 15px;
  border-radius: 9999px;
  position: relative;
  transition: background 0.1s ease-in-out;
}
.radio-button span::after {
  display: block;
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 1.5px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.1s ease-in-out;
  background-color: var(--button-white);
}
.radio-button input:checked + span {
  background-color: var(--button-green);
}
.radio-button input:checked + span::after {
  left: calc(100% - 1.5px - 11px);
}
.radio-button_large {
  width: -moz-max-content;
  width: max-content;
  height: initial;
}
.radio-button_large span {
  width: 49px;
  height: 28px;
}
.radio-button_large span::after {
  left: 2px;
  width: 24px;
  height: 24px;
}
.radio-button_large input:checked + span::after {
  left: calc(100% - 2px - 24px);
}

.tutorial {
  display: none;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(21, 7, 4, 0.6);
}
.tutorial__content {
  width: 100%;
  max-width: 588px;
  height: 100%;
  background-color: var(--bg-white);
  font-family: var(--montserrat);
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
}
.tutorial__header {
  background-color: var(--bg-purple);
  padding: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}
.tutorial__close {
  position: absolute;
  right: 24px;
  cursor: pointer;
}
.tutorial__close svg {
  width: 24px;
  height: 24px;
}
.tutorial__items {
  display: grid;
  overflow-y: auto;
  align-items: flex-start;
  scroll-behavior: smooth;
}
.tutorial__item {
  position: relative;
  display: grid;
  width: 100%;
  padding: 0 30px 30px;
}
.tutorial__item-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding-top: 30px;
}
.tutorial__item-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: var(--text-black);
}
.tutorial__item-arrow {
  border-radius: 4px;
  background-color: var(--bg-bright-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.tutorial__item-arrow svg {
  width: 18px;
  height: 18px;
  transition: rotate 0.15s linear;
}
.tutorial__item-wrapper {
  max-height: 0;
  overflow: hidden;
  gap: 0;
  display: grid;
  gap: 16px;
}
.tutorial__item-wrapper > ul {
  display: grid;
  gap: 16px;
}
.tutorial__item-description {
  background: #DEEBFF;
  border-radius: 4px;
  padding: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.tutorial__item-group {
  padding: 0 0 16px 24px;
  display: grid;
  gap: 12px;
}
.tutorial__item-group:last-child {
  padding-bottom: 0;
}
.tutorial__item-group h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.tutorial__item-group ul {
  list-style-type: none;
  display: grid;
  gap: 8px;
}
.tutorial__item-group ul li {
  padding-left: 21px;
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tutorial__item-group ul li::before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  width: 21px;
  height: 21px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none"><rect x="8" y="8.5" width="6" height="6" rx="3" fill="%23150704"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.tutorial__item.open {
  gap: 24px;
}
.tutorial__item.open > .tutorial__item-wrapper {
  max-height: -moz-max-content;
  max-height: max-content;
}
.tutorial__item.open > .tutorial__item-header > .tutorial__item-arrow svg {
  rotate: 180deg;
}
.tutorial__sub-item {
  padding: 0 24px 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}
.tutorial__sub-item .tutorial__item-header {
  padding-top: 24px;
}
.tutorial__sub-item .tutorial__item-title {
  font-size: 16px;
  font-weight: 500;
}
.tutorial__sub-item .tutorial__item-arrow {
  width: 18px;
  height: 18px;
  background-color: transparent;
}
.tutorial__sub-item.open {
  gap: 16px;
}

body.open-tutorial {
  overflow: hidden;
}
body.open-tutorial .tutorial {
  display: flex;
}

@media (max-width: 560px) {
  .tutorial__item {
    padding: 0 16px 24px;
  }
}
.btn-burger {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--bg-bright-gray);
  transition: background 0.1s linear;
}
.btn-burger:hover {
  background-color: var(--bg-bright-gray);
}

.map-input {
  width: 100%;
  height: 306px;
  border-radius: 10px;
}

.time-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.time-table__header, .time-table__row {
  display: flex;
  min-width: 716px;
  align-items: center;
  flex-wrap: nowrap;
  padding: 12px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.time-table__header {
  color: var(--text-dark-grayish);
  padding: 0;
}
.time-table__content {
  display: flex;
  width: 100%;
  overflow-x: auto;
  flex-direction: column;
  gap: 16px;
}
.time-table__row {
  color: var(--text-dark);
  border-bottom: 1px solid var(--bg-gray);
}
.time-table__row:first-child {
  border-top: 1px solid var(--bg-gray);
}
.time-table__day-column {
  display: flex;
  width: 100%;
  min-width: 230px;
  align-items: center;
  gap: 16px;
}
.time-table__start-column {
  width: 108px;
  min-width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-table__breaks {
  display: flex;
  gap: 18px;
}
.time-table__breaks-column {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 135.5px;
  min-width: 135.5px;
}
.time-table__breaks-column::after {
  display: block;
  content: "-";
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
  color: var(--text-black);
}
.time-table__end-column {
  width: 108px;
  min-width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-table__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
}

.time-input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--bg-gray);
  background-color: var(--bg-white);
  outline: transparent;
  color: var(--text-black);
  width: 60px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
  height: 38px;
}
.time-input::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}
.time-input::-moz-placeholder {
  color: var(--bg-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.time-input::placeholder {
  color: var(--bg-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.time-input:focus {
  border: 1px solid var(--button-bright-orange);
}
.time-input:valid:not(:-moz-placeholder-shown) {
  background-color: var(--bg-bright-gray);
  border: 1px solid var(--bg-bright-gray);
}
.time-input:valid:not(:placeholder-shown) {
  background-color: var(--bg-bright-gray);
  border: 1px solid var(--bg-bright-gray);
}
.time-input.error {
  color: var(--error);
  border: 1px solid var(--error);
}
.time-input_small {
  height: 32px;
  padding: 8px 0;
  width: 50px;
}
.time-input:disabled:not(:is(.filled)) {
  font-size: 0;
  color: transparent;
  border: 1px solid var(--bg-bright-gray);
}
.time-input:disabled:not(:is(.filled))::-moz-placeholder {
  font-size: 0;
  color: transparent;
}
.time-input:disabled:not(:is(.filled))::placeholder {
  font-size: 0;
  color: transparent;
}
.time-input.filled {
  background-color: var(--bg-bright-gray);
  border: 1px solid var(--bg-bright-gray);
  color: var(--text-black);
}

.small-btn {
  width: 24px;
  height: 24px;
  background-color: var(--bg-bright-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.small-btn:hover {
  background-color: var(--bg-gray);
}
.small-btn svg {
  height: 12px;
  fill: var(--bg-strong-red);
}

.drag-btn {
  cursor: grab;
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.56083 15C6.19944 15 5.89063 14.8713 5.63438 14.614C5.37812 14.3566 5.25 14.0472 5.25 13.6858C5.25 13.3244 5.37868 13.0156 5.63604 12.7594C5.89339 12.5031 6.20277 12.375 6.56417 12.375C6.92556 12.375 7.23438 12.5037 7.49063 12.761C7.74688 13.0184 7.875 13.3278 7.875 13.6892C7.875 14.0506 7.74632 14.3594 7.48896 14.6156C7.23161 14.8719 6.92223 15 6.56083 15ZM11.4358 15C11.0744 15 10.7656 14.8713 10.5094 14.614C10.2531 14.3566 10.125 14.0472 10.125 13.6858C10.125 13.3244 10.2537 13.0156 10.511 12.7594C10.7684 12.5031 11.0778 12.375 11.4392 12.375C11.8006 12.375 12.1094 12.5037 12.3656 12.761C12.6219 13.0184 12.75 13.3278 12.75 13.6892C12.75 14.0506 12.6213 14.3594 12.364 14.6156C12.1066 14.8719 11.7972 15 11.4358 15ZM6.56083 10.3125C6.19944 10.3125 5.89063 10.1838 5.63438 9.92646C5.37812 9.66911 5.25 9.35973 5.25 8.99833C5.25 8.63694 5.37868 8.32812 5.63604 8.07188C5.89339 7.81563 6.20277 7.6875 6.56417 7.6875C6.92556 7.6875 7.23438 7.81618 7.49063 8.07354C7.74688 8.33089 7.875 8.64027 7.875 9.00167C7.875 9.36306 7.74632 9.67188 7.48896 9.92813C7.23161 10.1844 6.92223 10.3125 6.56083 10.3125ZM11.4358 10.3125C11.0744 10.3125 10.7656 10.1838 10.5094 9.92646C10.2531 9.66911 10.125 9.35973 10.125 8.99833C10.125 8.63694 10.2537 8.32812 10.511 8.07188C10.7684 7.81563 11.0778 7.6875 11.4392 7.6875C11.8006 7.6875 12.1094 7.81618 12.3656 8.07354C12.6219 8.33089 12.75 8.64027 12.75 9.00167C12.75 9.36306 12.6213 9.67188 12.364 9.92813C12.1066 10.1844 11.7972 10.3125 11.4358 10.3125ZM6.56083 5.625C6.19944 5.625 5.89063 5.49632 5.63438 5.23896C5.37812 4.98161 5.25 4.67223 5.25 4.31083C5.25 3.94944 5.37868 3.64063 5.63604 3.38438C5.89339 3.12812 6.20277 3 6.56417 3C6.92556 3 7.23438 3.12868 7.49063 3.38604C7.74688 3.64339 7.875 3.95277 7.875 4.31417C7.875 4.67556 7.74632 4.98438 7.48896 5.24063C7.23161 5.49688 6.92223 5.625 6.56083 5.625ZM11.4358 5.625C11.0744 5.625 10.7656 5.49632 10.5094 5.23896C10.2531 4.98161 10.125 4.67223 10.125 4.31083C10.125 3.94944 10.2537 3.64063 10.511 3.38438C10.7684 3.12812 11.0778 3 11.4392 3C11.8006 3 12.1094 3.12868 12.3656 3.38604C12.6219 3.64339 12.75 3.95277 12.75 4.31417C12.75 4.67556 12.6213 4.98438 12.364 5.24063C12.1066 5.49688 11.7972 5.625 11.4358 5.625Z" fill="%23D9D7D7"/></svg>');
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100dvh;
  max-height: 100dvh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
  padding-left: var(--aside-width);
}
.modal__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background: var(--bg-black);
}
.modal__window {
  border-radius: 20px;
  background-color: var(--bg-white);
  z-index: 1;
  overflow-y: auto;
  max-height: calc(100dvh - 112px);
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 30px;
  font-family: var(--montserrat);
  color: var(--text-black);
  position: relative;
  width: 100%;
  max-width: 678px;
  margin: 0 16px;
  gap: 32px;
  align-items: flex-start;
  align-content: flex-start;
}
.modal__header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.modal__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.modal__close-btn {
  position: absolute;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  top: 17px;
  cursor: pointer;
  z-index: 2;
}
.modal__close-btn svg {
  height: 24px;
  width: 24px;
}
.modal__content {
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}
.modal__controls {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.modal__controls > * {
  min-width: 180px;
}

body.open-add-exception #add-exception {
  display: flex;
}

body.open-edit-exception #edit-exception {
  display: flex;
}

body.open-delete-exception #delete-exception {
  display: flex;
}

body.open-add-nonworking-days #add-nonworking-days {
  display: flex;
}

body.open-edit-nonworking-days #edit-nonworking-days {
  display: flex;
}

body.open-delete-nonworking-days #delete-nonworking-days {
  display: flex;
}

body.open-add-social #add-social {
  display: flex;
}

body.open-edit-social #edit-social {
  display: flex;
}

body.open-delete-social #delete-social {
  display: flex;
}

@media (max-width: 1080px) {
  .modal {
    padding-left: 0;
  }
}
@media (max-widtH: 560px) {
  .modal__window {
    padding: 30px 20px;
  }
  .modal__close-btn {
    right: 0;
    top: 0;
  }
  .modal__controls > * {
    width: 100%;
    min-width: auto;
  }
}
.date-input {
  width: 130px;
  height: 50px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--bg-bright-gray);
  border: 1px solid transparent;
}
.date-input:has(input[type=text]:focus-visible) {
  border: 1px solid var(--line-bright-orange);
}
.date-input input[type=date] {
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
  color: transparent;
}
.date-input input[type=text] {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
  outline: transparent;
  padding: 0;
  margin: 0;
  min-width: 71px;
  max-width: 80px;
  width: auto;
}
.date-input__picker-btn {
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.date-input__picker-btn svg {
  height: 18px;
}

.exception-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.exception-form__two-columns {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 49px;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.exception-form__two-columns > *:first-child {
  position: relative;
}
.exception-form__two-columns > *:first-child::after {
  display: block;
  content: "";
  height: 100%;
  position: absolute;
  width: 1px;
  right: -24px;
  background-color: var(--bg-bright-gray);
  position: absolute;
}
.exception-form__times {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.exception-form__times .time-input {
  height: 50px;
}
.exception-form__times::after {
  display: block;
  content: "-";
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
  color: var(--text-black);
}
.exception-form__period {
  display: none;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  width: 100%;
}
.exception-form__period::after {
  display: block;
  content: "-";
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
  color: var(--text-black);
}
.exception-form__dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
  justify-content: flex-start;
}
.exception-form__dates .btn-secondary {
  width: -moz-max-content;
  width: max-content;
}
.exception-form__date {
  display: flex;
  gap: 8px;
  align-items: center;
}
.exception-form__switch:has(input[type=checkbox]:checked) + .exception-form__two-columns {
  grid-template-columns: 1fr 1fr;
}
.exception-form__switch:has(input[type=checkbox]:checked) + .exception-form__two-columns .exception-form__period {
  display: flex;
}
.exception-form__switch:has(input[type=checkbox]:checked) + .exception-form__two-columns .exception-form__dates {
  display: none;
}
.exception-form__switch:has(input[type=checkbox]:checked) + .input-wrapper {
  justify-content: flex-start;
}
.exception-form__switch:has(input[type=checkbox]:checked) + .input-wrapper .exception-form__period {
  display: flex;
}
.exception-form__switch:has(input[type=checkbox]:checked) + .input-wrapper .exception-form__dates {
  display: none;
}

@media (max-width: 560px) {
  .exception-form__two-columns {
    grid-template-columns: 1fr !important;
  }
  .exception-form__two-columns::after {
    display: none;
  }
  .exception-form__period > * {
    width: 100%;
  }
  .exception-form__dates {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.wrapper-img {
  display: flex;
  position: relative;
  gap: 12px;
}
.wrapper-img__img {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border: 0.5px dashed rgba(94, 49, 189, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrapper-img__img img {
  max-width: 20px;
  max-height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.wrapper-img__img::after {
  display: block;
  position: absolute;
  content: "";
  background-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.53 1.79445L10.205 2.46945C10.6 2.85945 10.6 3.49445 10.205 3.88445L3.59 10.4995H1.5V8.40945L6.7 3.20445L8.115 1.79445C8.505 1.40445 9.14 1.40445 9.53 1.79445ZM2.5 9.49945L3.205 9.52945L8.115 4.61445L7.41 3.90945L2.5 8.81945V9.49945Z" fill="%23D4492A"/></svg>');
  width: 100%;
  height: 100%;
  background-color: var(--bg-white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  opacity: 0;
  transition: opacity 0.1s linear;
  cursor: pointer;
}
.wrapper-img__img:hover::after {
  opacity: 1;
}
.wrapper-img__img.hidden {
  opacity: 0;
}
.wrapper-img__img.hidden::after {
  display: none;
}
.wrapper-img_upload .wrapper-img__img {
  cursor: pointer;
}
.wrapper-img_upload .wrapper-img__img::after {
  display: none;
}
.wrapper-img_upload input[type=file] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  z-index: -100;
  font-size: 0;
  color: transparent;
}
.wrapper-img_checkbox:has(input[type=checkbox]) .wrapper-img__img img {
  filter: contrast(0) opacity(0.5);
}
.wrapper-img_checkbox:has(input[type=checkbox]) .wrapper-img__img::after {
  display: none;
}
.wrapper-img_checkbox:has(input[type=checkbox]:checked) .wrapper-img__img img {
  filter: contrast(1) opacity(1);
}
.wrapper-img_checkbox:has(input[type=checkbox]:checked) .wrapper-img__img::after {
  display: block;
}
.wrapper-img.dragging {
  opacity: 0.4;
}

.textarea {
  height: 102px;
  position: relative;
  width: 100%;
}
.textarea textarea {
  resize: none;
  width: 100%;
  height: 100%;
  outline: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-black);
  font-family: var(--montserrat);
  padding: 16px 20px 40px;
}
.textarea textarea:hover {
  border: initial;
}
.textarea__length {
  position: absolute;
  right: 15px;
  bottom: 11px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-grayish);
  background-color: var(--bg-white);
  border-radius: 4px;
  padding: 5px;
  display: block;
}

.round-radio-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
  color: var(--text-black);
  align-items: center;
}
.round-radio-button input {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  padding: 0;
  margin: 0;
  top: -100%;
}
.round-radio-button span {
  display: block;
  width: 18px;
  height: 18px;
  border: 1.5px solid var(--line-gray);
  border-radius: 50%;
  position: relative;
  transition: border-color 0.15s linear;
}
.round-radio-button span::before {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: left top;
  background-color: var(--bg-purple);
  transform: translate3d(-50%, -50%, 0);
  scale: 0;
}
.round-radio-button:hover span {
  border-color: var(--line-purple);
}
.round-radio-button input:checked + span {
  border-color: var(--line-purple);
}
.round-radio-button input:checked + span::before {
  scale: 1;
}

@media (max-width: 1440px) {
  .round-radio-button {
    font-size: 14px;
  }
  .round-radio-button span {
    width: 14px;
    height: 14px;
  }
  .round-radio-button span::before {
    width: 6.5px;
    height: 6.5px;
  }
}
.category-new:has(.category-new__switch:not(:checked)) .category-new__select {
  filter: grayscale(1) opacity(0.5);
  position: relative;
}
.category-new:has(.category-new__switch:not(:checked)) .category-new__select::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.category-list .main__header {
  width: 100%;
}
.category-list__content ul {
  display: flex;
  flex-direction: column;
}
.category-list__item {
  display: grid;
  width: 100%;
  padding: 20px 0;
}
.category-list__item-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}