@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@font-face {
  font-family: "Days One";
  src: url("../fonts/DaysOne-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
:root {
  --text-black: #150704;
  --text-strong-red: #D4492A;
  --text-dark-grey: #8A8381;
  --text-error: #F84147;
  --text-dark-grayish: #8A8381;
  --text-white: #fff;
  --button-bright-orange: #ED9139;
  --button-strong-red: #D4492A;
  --button-white: #FFFFFF;
  --button-green: #42D42A;
  --line-strong-red: #D4492A;
  --line-gray: #D9D7D7;
  --line-purple: #5E31BD;
  --line-grayish-red: #FBEDEA;
  --bg-purple: #5E31BD;
  --bg-gray: #D9D7D7;
  --bg-bright-gray: #F5F5F5;
  --bg-bright-orange: #ED9139;
  --bg-white: #fff;
  --montserrat: "Montserrat", sans-serif;
  --daysOne: "Days One", sans-serif;
  --header-height: 90px;
  --header-height-sm: 50px;
  --aside-width: 282px;
  --icon-black: #150704;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--montserrat);
}

button, input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}

body {
  background-color: #FFF7F3;
}

.content {
  padding-top: calc(var(--header-height) + 30px);
  padding-left: var(--aside-width);
  padding-right: 30px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-bright-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-gray);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-gray);
}

.btn-provider {
  font-family: var(--daysOne);
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--line-strong-red);
  font-size: 16px;
  cursor: pointer;
  line-height: 100%;
}
.btn-provider > image {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1440px) {
  .btn-provider {
    font-size: 14px;
  }
}
.auth {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 85px 0;
}
.auth__content {
  display: grid;
  gap: 60px;
  max-width: 600px;
  width: 100%;
}
.auth__container {
  display: grid;
  padding: 40px;
  border-radius: 30px;
  gap: 30px;
  width: 100%;
  justify-content: stretch;
  border: 3px solid var(--line-strong-red);
}
.auth__title {
  text-align: center;
  font-family: var(--daysOne);
  font-size: 35px;
  font-style: normal;
  line-height: 130%;
  color: var(--text-black);
}
.auth__providers {
  display: flex;
  gap: 12px;
  justify-content: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
.auth__inputs {
  display: grid;
  justify-content: stretch;
  gap: 15px;
  width: 100%;
}
.auth__group {
  display: grid;
  gap: 20px;
  width: 100%;
}
.auth__form {
  display: grid;
  gap: 20px;
}
.auth__form .link {
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
}
.auth__checkbox {
  padding: 13px 0;
  display: flex;
  align-items: center;
}
.auth p {
  font-size: 18px;
  font-family: var(--montserrat);
  line-height: 150%;
  text-align: center;
}

@media (max-width: 1440px) {
  .auth p {
    font-size: 14px;
  }
}
@media (max-width: 1080px) {
  .auth__container {
    padding: 40px 30px;
  }
}
@media (max-width: 720px) {
  .auth {
    padding: 10px;
  }
  .auth__content {
    gap: 28px;
  }
  .auth__container {
    padding: 40px 20px;
  }
}
@media (max-width: 560px) {
  .auth__title {
    font-size: 20px;
  }
  .auth__providers {
    flex-direction: column;
  }
}
.logo-big {
  width: 127px;
  display: flex;
  justify-self: center;
}
.logo-big > img {
  width: 100%;
}

.btn, .btn-secondary {
  display: flex;
  padding: 10px 20px;
  height: 50px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--line-strong-red);
  border-radius: 4px;
  color: var(--button-white);
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.15s linear;
  font-family: var(--montserrat);
  gap: 10px;
  border: 1px solid transparent;
}
.btn svg, .btn-secondary svg {
  height: 18px;
  fill: var(--button-white);
}
.btn:hover, .btn-secondary:hover {
  background-color: #AC391F;
}
.btn:focus, .btn-secondary:focus {
  background-color: #AC391F;
  border: 1px solid var(--button-bright-orange);
}
.btn:disabled, .btn-secondary:disabled {
  background-color: var(--bg-gray);
  cursor: initial;
}

.btn-secondary {
  background-color: var(--line-grayish-red);
  color: var(--text-strong-red);
}
.btn-secondary svg {
  fill: var(--text-strong-red);
}
.btn-secondary:hover {
  color: var(--button-white);
}
.btn-secondary:hover svg {
  fill: var(--button-white);
}
.btn-secondary_transparent {
  background-color: transparent;
}

@media (max-width: 1440px) {
  .btn, .btn-secondary {
    font-size: 14px;
  }
}
.input-wrapper {
  display: grid;
  gap: 8px;
  width: 100%;
}
.input-wrapper > span, .input-wrapper > label {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  line-height: 150%;
}
.input-wrapper > span > span, .input-wrapper > label > span {
  color: var(--text-strong-red);
}
.input-wrapper > .input-wrapper__error {
  display: inline-block;
  color: var(--text-error);
  font-size: 14px;
  text-align: left;
}

@media (max-width: 1440px) {
  .input-wrapper > span, .input-wrapper > label {
    font-size: 16px;
  }
}
.text-input {
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--montserrat);
  outline: transparent;
  padding: 14.5px 20px;
  width: 100%;
  border: 1px solid transparent;
}
.text-input_grey {
  background-color: var(--bg-bright-gray);
}
.text-input::-moz-placeholder {
  color: var(--text-dark-grey);
}
.text-input::placeholder {
  color: var(--text-dark-grey);
}
.text-input:focus {
  border: 1px solid var(--bg-bright-orange);
}

@media (max-width: 1440px) {
  .text-input {
    font-size: 14px;
  }
}
.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
}
.checkbox input {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  padding: 0;
  margin: 0;
  top: -100%;
}
.checkbox span {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 1.5px;
  border: 1.5px solid var(--line-gray);
  transition: border-color 0.15s linear;
  position: relative;
}
.checkbox span::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 1px;
  transform-origin: left top;
  background-color: var(--bg-purple);
  transform: translate3d(-50%, -50%, 0);
  scale: 0;
}
.checkbox span::after {
  display: block;
  content: "";
  width: 12px;
  height: 8.7px;
  background-image: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.77486 4.575L7.01236 0.3375C7.11236 0.2375 7.23111 0.1875 7.36861 0.1875C7.50611 0.1875 7.62486 0.2375 7.72486 0.3375C7.82486 0.4375 7.87486 0.55625 7.87486 0.69375C7.87486 0.83125 7.82486 0.95 7.72486 1.05L3.12486 5.65C3.02486 5.75 2.90819 5.8 2.77486 5.8C2.64153 5.8 2.52486 5.75 2.42486 5.65L0.274859 3.5C0.174859 3.4 0.126943 3.28125 0.131109 3.14375C0.135276 3.00625 0.187359 2.8875 0.287359 2.7875C0.387359 2.6875 0.506109 2.6375 0.643609 2.6375C0.781109 2.6375 0.899859 2.6875 0.999859 2.7875L2.77486 4.575Z" fill="white"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.checkbox:hover span {
  border-color: var(--line-purple);
}
.checkbox:hover span::before {
  scale: 1;
}
.checkbox input:checked + span {
  border-color: var(--line-purple);
  background-color: var(--bg-purple);
}
.checkbox input:checked + span::after {
  opacity: 1;
}

@media (max-width: 1440px) {
  .checkbox {
    font-size: 14px;
  }
  .checkbox span {
    width: 13.5px;
    height: 13.5px;
  }
  .checkbox span::before {
    width: 6px;
    height: 6px;
  }
  .checkbox span::after {
    width: 8px;
    height: 5.8px;
  }
}
.link {
  display: inline-block;
  color: var(--button-bright-orange);
  text-decoration: none;
  position: relative;
  font-size: 18px;
}
.link::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: var(--button-bright-orange);
}

@media (max-width: 1440px) {
  .link {
    font-size: 14px;
  }
}
.header {
  display: grid;
  grid-template-columns: calc(var(--aside-width) - 30px) 1fr;
  height: var(--header-height);
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  font-family: var(--montserrat);
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header__group {
  display: flex;
  align-items: center;
  gap: 64px;
  height: 100%;
}
.header__controls {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: var(--text-black);
}
.header__profile::after {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: var(--bg-bright-gray);
  left: -32px;
  top: 0;
}
.header__profile-content {
  display: flex;
  flex-direction: column;
}
.header__profile-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.header__profile-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 1280px) {
  .header__profile-content {
    display: none;
  }
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-bright-gray);
  cursor: pointer;
  transition: background 0.15s linear;
}
.icon-btn svg {
  height: 18px;
  width: auto;
  fill: var(--icon-black);
}
.icon-btn_with-number {
  position: relative;
}
.icon-btn_with-number span {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  background-color: var(--bg-purple);
  color: var(--button-white);
  border-radius: 50%;
}
.icon-btn:hover {
  background-color: var(--bg-gray);
}

.tip-btn {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tip-btn svg {
  height: 18px;
}

.aside {
  width: var(--aside-width);
  height: calc(100vh - var(--header-height) - 30px);
  display: flex;
  padding: 0 30px 40px;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-dark-grayish);
  font-family: var(--montserrat);
  position: fixed;
  top: calc(var(--header-height) + 30px);
  overflow-y: auto;
  gap: 16px;
}
.aside-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.aside-nav__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.aside-nav__group-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.aside-nav__group ul {
  display: grid;
  gap: 0;
  width: 100%;
  list-style: none;
}
.aside-nav__item {
  display: inline-block;
  height: -moz-min-content;
  height: min-content;
}
.aside-nav__item-subnav > label, .aside-nav__item a {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  text-decoration: none;
  color: var(--text-black);
  padding: 10px;
  border-radius: 4px;
  transition: background 0.15s linear;
}
.aside-nav__item-subnav > label svg, .aside-nav__item a svg {
  height: 18px;
  width: auto;
  fill: var(--icon-black);
}
.aside-nav__item-subnav > label:hover, .aside-nav__item a:hover {
  background-color: #FFF1E9;
}
.aside-nav__item-subnav {
  overflow: hidden;
}
.aside-nav__item-subnav label {
  position: relative;
  cursor: pointer;
}
.aside-nav__item-subnav label::after {
  display: block;
  content: "";
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.0001 11.3063C8.9251 11.3063 8.85635 11.2938 8.79385 11.2688C8.73135 11.2438 8.66885 11.2 8.60635 11.1375L4.89385 7.425C4.78135 7.3125 4.7251 7.18125 4.7251 7.03125C4.7251 6.88125 4.78135 6.75 4.89385 6.6375C5.00635 6.525 5.14072 6.46875 5.29697 6.46875C5.45322 6.46875 5.5876 6.525 5.7001 6.6375L9.0001 9.9375L12.3001 6.6375C12.4126 6.525 12.5438 6.46875 12.6938 6.46875C12.8438 6.46875 12.9751 6.525 13.0876 6.6375C13.2001 6.75 13.2563 6.88438 13.2563 7.04063C13.2563 7.19688 13.2001 7.33125 13.0876 7.44375L9.39385 11.1375C9.33135 11.2 9.26885 11.2438 9.20635 11.2688C9.14385 11.2938 9.0751 11.3063 9.0001 11.3063Z" fill="%238A8381"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform-origin: top;
  transform: translateY(-50%);
  transition: rotate 0.15s linear;
}
.aside-nav__item-subnav input {
  position: absolute;
  width: 0;
  height: 0;
  left: -100%;
  opacity: 0;
}
.aside-nav__item-subnav ul {
  max-height: 0;
}
.aside-nav__item-subnav input:checked + label::after {
  rotate: 180deg;
}
.aside-nav__item-subnav input:checked + label + ul {
  max-height: 150px;
}
.aside-nav__item_active a {
  cursor: initial;
  background-color: var(--button-strong-red);
  color: var(--button-white);
}
.aside-nav__item_active a svg {
  fill: var(--button-white);
}
.aside-nav__item_active:hover a {
  background-color: var(--button-strong-red);
  color: var(--button-white);
}
.aside-nav__item_active:hover a svg {
  fill: var(--button-white);
}
.aside-nav__item.disabled label, .aside-nav__item.disabled a {
  cursor: default;
  color: var(--text-dark-grayish);
}
.aside-nav__item.disabled label svg, .aside-nav__item.disabled a svg {
  fill: var(--text-dark-grayish);
}
.aside-nav__item.disabled label:hover, .aside-nav__item.disabled a:hover {
  background-color: transparent;
}
.aside-nav__item-subnav.disabled input:checked + label::after {
  rotate: initial;
}
.aside-nav__item-subnav.disabled input:checked + label + ul {
  max-height: 0;
}
.aside-nav__item_no-svg a {
  padding-left: 36px;
}
.aside__open-btn {
  display: none;
  width: 30px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1254901961);
  position: absolute;
  left: calc(100% - 30px);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  z-index: 100;
}
.aside__open-btn svg {
  rotate: 90deg;
}

.main {
  border-radius: 30px;
  background-color: var(--bg-white);
  min-height: calc(100vh - var(--header-height) - 70px);
  padding: 30px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  color: var(--text-black);
}
.main__frame {
  background-color: var(--bg-bright-gray);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  gap: 32px;
  display: grid;
}
.main__header {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__header-controls {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  gap: 16px;
}
.main__header-controls > * {
  width: 180px;
}
.main__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.main__group {
  display: grid;
  gap: 16px;
}
.main__group-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-dark-grayish);
}
.main__group-content {
  display: grid;
  gap: 24px;
}
.main__group-content_two-columns {
  grid-template-columns: 1fr 1fr;
}

.custom-select {
  height: 50px;
  position: relative;
  font-family: var(--montserrat);
}
.custom-select__btn {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  border-radius: 4px;
  background-color: var(--button-white);
  position: relative;
  border: 1px solid transparent;
}
.custom-select__value {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-select__value img {
  width: 18px;
  height: 18px;
}
.custom-select__arrow {
  display: block;
  width: 18px;
  height: 18px;
  transform: rotateZ(180deg);
  transition: rotate 0.15s linear;
}
.custom-select__options {
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  display: grid;
  background-color: var(--bg-white);
  max-height: 0;
  overflow-y: auto;
  border-radius: 4px;
  z-index: 10;
}
.custom-select.open .custom-select__arrow {
  rotate: 180deg;
}
.custom-select.open .custom-select__options {
  max-height: 270px;
}
.custom-select.open .custom-select__btn {
  border: 1px solid var(--button-bright-orange);
}
.custom-select__option {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-items: center;
  padding: 8px 20px;
}
.custom-select__option img {
  width: 18px;
  height: 18px;
}
.custom-select__option:hover {
  background-color: #FAFAFA;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-radius: 4px;
  background-color: var(--bg-white);
}
.switch__text {
  display: flex;
  gap: 4px;
}

.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.radio-button input {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  padding: 0;
  margin: 0;
  top: -100%;
}
.radio-button span {
  display: inline-block;
  background-color: var(--bg-gray);
  width: 24px;
  height: 15px;
  border-radius: 9999px;
  position: relative;
  transition: background 0.1s ease-in-out;
}
.radio-button span::after {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 1.5px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.1s ease-in-out;
  background-color: var(--button-white);
}
.radio-button input:checked + span {
  background-color: var(--button-green);
}
.radio-button input:checked + span::after {
  left: calc(100% - 1.5px - 12px);
}
.radio-button_large {
  width: -moz-max-content;
  width: max-content;
  height: initial;
}
.radio-button_large span {
  width: 49px;
  height: 28px;
}
.radio-button_large span::after {
  left: 2px;
  width: 24px;
  height: 24px;
}
.radio-button_large input:checked + span::after {
  left: calc(100% - 2px - 24px);
}

.tutorial {
  display: none;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(21, 7, 4, 0.6);
}
.tutorial__content {
  width: 100%;
  max-width: 588px;
  height: 100%;
  background-color: var(--bg-white);
  font-family: var(--montserrat);
}
.tutorial__header {
  background-color: var(--bg-purple);
  padding: 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}
.tutorial__close {
  position: absolute;
  right: 24px;
  cursor: pointer;
}
.tutorial__close svg {
  width: 24px;
  height: 24px;
}
.tutorial__items {
  display: grid;
}
.tutorial__item {
  position: relative;
  display: grid;
  width: 100%;
  padding: 30px;
}
.tutorial__item-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.tutorial__item-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  color: var(--text-black);
}
.tutorial__item-arrow {
  border-radius: 4px;
  background-color: var(--bg-bright-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.tutorial__item-arrow svg {
  width: 18px;
  height: 18px;
  transition: rotate 0.15s linear;
}
.tutorial__item-wrapper {
  max-height: 0;
  overflow: hidden;
  gap: 0;
  display: grid;
  gap: 16px;
}
.tutorial__item-wrapper > ul {
  display: grid;
  gap: 16px;
}
.tutorial__item-description {
  background: #DEEBFF;
  border-radius: 4px;
  padding: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.tutorial__item-group {
  padding: 0 0 16px 24px;
  display: grid;
  gap: 12px;
}
.tutorial__item-group h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.tutorial__item-group ul {
  list-style-type: none;
  display: grid;
  gap: 8px;
}
.tutorial__item-group ul li {
  padding-left: 21px;
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tutorial__item-group ul li::before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  width: 21px;
  height: 21px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none"><rect x="8" y="8.5" width="6" height="6" rx="3" fill="%23150704"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.tutorial__item.open {
  gap: 24px;
}
.tutorial__item.open > .tutorial__item-wrapper {
  max-height: -moz-max-content;
  max-height: max-content;
}
.tutorial__item.open > .tutorial__item-header > .tutorial__item-arrow svg {
  rotate: 180deg;
}
.tutorial__sub-item {
  padding: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}
.tutorial__sub-item .tutorial__item-title {
  font-size: 16px;
  font-weight: 500;
}
.tutorial__sub-item .tutorial__item-arrow {
  width: 18px;
  height: 18px;
  background-color: transparent;
}
.tutorial__sub-item.open {
  gap: 16px;
}

body.open-tutorial .tutorial {
  display: flex;
}