@font-face {
  font-family: "Days One";
  src: url("../fonts/DaysOne-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("ttf-variations");
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("ttf") tech("variations");
  font-weight: 100 1000;
  font-style: normal;
}
:root {
  --text-black: #150704;
  --text-strong-red: #D4492A;
  --text-dark-grey: #8A8381;
  --text-error: #F84147;
  --text-dark-grayish: #8A8381;
  --text-grayish: #A19C9B;
  --text-white: #fff;
  --text-purple: #5E31BD;
  --button-bright-orange: #ED9139;
  --button-strong-red: #D4492A;
  --button-white: #FFFFFF;
  --button-green: #42D42A;
  --line-strong-red: #D4492A;
  --line-gray: #D9D7D7;
  --line-purple: #5E31BD;
  --line-grayish-red: #FFF7F3;
  --line-bright-orange: #ED9139;
  --bg-strong-red: #D4492A;
  --bg-purple: #5E31BD;
  --bg-gray: #D9D7D7;
  --bg-bright-gray: #F5F5F5;
  --bg-bright-orange: #ED9139;
  --bg-white: #fff;
  --bg-black: #150704;
  --montserrat: "Montserrat", sans-serif;
  --daysOne: "Days One", sans-serif;
  --header-height: 90px;
  --aside-width: 282px;
  --icon-black: #150704;
  --error: #F84147;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--montserrat);
}

button, input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}

body {
  background-color: #FFF7F3;
}

.content {
  padding-top: calc(var(--header-height) + 30px);
  padding-left: var(--aside-width);
  padding-right: 30px;
  overflow-y: auto;
  height: 100dvh;
  padding-bottom: 40px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-bright-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-gray);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-gray);
}

.error-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  color: var(--Error, #F84147);
  font-family: var(--montserrat);
}

.overflow-x {
  overflow-x: auto !important;
}

.width-100p {
  width: 100%;
}

.disabled {
  filter: grayscale(1) opacity(0.5);
  position: relative;
}
.disabled::after {
  display: block;
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.disabled input {
  font-size: 0;
}

@media (max-width: 1080px) {
  .content {
    padding-left: 30px;
  }
}
@media (max-width: 720px) {
  .content {
    padding-top: calc(var(--header-height));
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
    padding-bottom: 0;
  }
  .content:has(.main__empty, .main__wrapper_without-frames) {
    padding-top: calc(var(--header-height) + 16px);
  }
}
.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.radio-button input {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  padding: 0;
  margin: 0;
  top: -100%;
}
.radio-button span {
  display: inline-block;
  background-color: var(--bg-gray);
  width: 24px;
  height: 15px;
  border-radius: 9999px;
  position: relative;
  transition: background 0.1s ease-in-out;
}
.radio-button span::after {
  display: block;
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 1.5px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.1s ease-in-out;
  background-color: var(--button-white);
}
.radio-button input:checked + span {
  background-color: var(--button-green);
}
.radio-button input:checked + span::after {
  left: calc(100% - 1.5px - 11px);
}
.radio-button_large {
  width: -moz-max-content;
  width: max-content;
  height: initial;
}
.radio-button_large span {
  width: 49px;
  height: 28px;
}
.radio-button_large span::after {
  left: 2px;
  width: 24px;
  height: 24px;
}
.radio-button_large input:checked + span::after {
  left: calc(100% - 2px - 24px);
}

.rect-radio-btn {
  display: flex;
  height: 50px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  color: var(--text-black);
  text-align: center;
  font-family: var(--montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  width: -moz-max-content;
  width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.rect-radio-btn_short {
  height: 42px;
}
.rect-radio-btn_small {
  padding: 10px;
  width: 36px;
  height: 36px;
}
.rect-radio-btn input {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  padding: 0;
  margin: 0;
  top: -100%;
}
.rect-radio-btn:has(input:checked) {
  background: var(--button-bright-orange, #ED9139);
  color: var(--bg-white);
}

.round-radio-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
  color: var(--text-black);
  align-items: center;
}
.round-radio-button input {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  position: absolute;
  left: -100%;
  padding: 0;
  margin: 0;
  top: -100%;
}
.round-radio-button span {
  display: block;
  width: 18px;
  height: 18px;
  border: 1.5px solid var(--line-gray);
  border-radius: 50%;
  position: relative;
  transition: border-color 0.15s linear;
}
.round-radio-button span::before {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: left top;
  background-color: var(--bg-purple);
  transform: translate3d(-50%, -50%, 0);
  scale: 0;
}
.round-radio-button:hover span {
  border-color: var(--line-purple);
}
.round-radio-button input:checked + span {
  border-color: var(--line-purple);
}
.round-radio-button input:checked + span::before {
  scale: 1;
}

@media (max-width: 1440px) {
  .round-radio-button {
    font-size: 14px;
  }
  .round-radio-button span {
    width: 14px;
    height: 14px;
  }
  .round-radio-button span::before {
    width: 6.5px;
    height: 6.5px;
  }
}
.time-input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--bg-gray);
  background-color: var(--bg-white);
  outline: transparent;
  color: var(--text-black);
  width: 60px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--montserrat);
  height: 38px;
}
.time-input::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}
.time-input::-moz-placeholder {
  color: var(--bg-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.time-input::placeholder {
  color: var(--bg-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.time-input:focus {
  border: 1px solid var(--button-bright-orange);
}
.time-input:valid:not(:-moz-placeholder-shown) {
  background-color: var(--bg-bright-gray);
  border: 1px solid var(--bg-bright-gray);
}
.time-input:valid:not(:placeholder-shown) {
  background-color: var(--bg-bright-gray);
  border: 1px solid var(--bg-bright-gray);
}
.time-input.error {
  color: var(--error);
  border: 1px solid var(--error);
}
.time-input_small {
  height: 32px;
  padding: 8px 0;
  width: 50px;
}
.time-input:disabled:not(:is(.filled)) {
  font-size: 0;
  color: transparent;
  border: 1px solid var(--bg-bright-gray);
}
.time-input:disabled:not(:is(.filled))::-moz-placeholder {
  font-size: 0;
  color: transparent;
}
.time-input:disabled:not(:is(.filled))::placeholder {
  font-size: 0;
  color: transparent;
}
.time-input.filled {
  background-color: var(--bg-bright-gray);
  border: 1px solid var(--bg-bright-gray);
  color: var(--text-black);
}